

.App {
  text-align: center;
 
  padding: 20px;
}

.card-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #f8f0f0;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px;
  font-size: 18px;
}

.card p {
  font-size: 15px;
  color: #383636;
}